extends ./layout/index

block contenido 
  main.container.mt-5   
    .row 
      .col-md-5
        img(src="img/nosotros.jpg", alt="Imagen Nosotros", class="img-fluid")
      .col-md-7
        .h1 #{pagina}
        blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium voluptatem eaque, culpa ipsam atque ea non enim! Temporibus tempore incidunt fuga voluptatem dolor at rerum ratione impedit. Ad, eligendi fuga.Laboriosam, illo atque odio modi itaque omnis debitis molestiae sed labore porro, aperiam sapiente necessitatibus quibusdam. Inventore sequi dicta molestiae nihil exercitationem facilis officia. 

        p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis nostrum dicta soluta doloribus dolores. Quo sapiente minus voluptatum nostrum. Corrupti quos recusandae delectus consequuntur fugiat vitae error. Itaque, nobis. Omnis? Lorem ipsum dolor sit amet.

        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo maxime, ullam ab hic nam iste consectetur totam ducimus enim quia voluptates tenetur numquam illum aliquid maiores libero. Consectetur, quis amet.

  .listado-iconos 
    .container.mt-5.py-5.text-center  
      .row 
        .col-md-4 
          img(src="img/icono_seguridad.svg", alt="Icono seguridad", class="img-fluid mb-4")
          h2.mb-4 Seguridad 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, hic voluptatibus modi unde rem.
        .col-md-4 
          img(src="img/icono_destinos.svg", alt="Icono seguridad", class="img-fluid mb-4")
          h2.mb-4 Destinos 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, hic voluptatibus modi unde rem.
        .col-md-4 
          img(src="img/icono_precios.svg", alt="Icono seguridad", class="img-fluid mb-4")
          h2.mb-4 Mejores precios 
          p Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem, hic voluptatibus modi unde rem.